.horizontal-card-container {
    position: relative;
    display: inline-block;
    height: 500px;
    width: 320px;
    margin: 10px;
    background-color: #ffffff;
    margin: 10px 10px 30px 10px;
    text-align: center;
    font-family: Avenir, Tahoma, sans-serif;
    box-shadow: 0 10px 20px #00000030, 0 6px 6px #0000003b;
    -moz-box-shadow: 0 10px 20px #00000030, 0 6px 6px #0000003b;
    -webkit-box-shadow: 0 10px 20px #00000030, 0 6px 6px #0000003b;
}

.hcard-logo-container {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: none;
    margin-right: 10px;
    padding-top: 10px;
    justify-content: center;
    align-items: center;
}

.hcard-logo-container img {
    max-width: 120px;
    max-height: 60px;
}

.hcard-detail-container {
    width: 100%;
    height: 400px;
    display: block;
    position: relative;
    float: none;
}

.hcard-data-container {
    border-bottom: 1px solid #d2d2d29f;
    width: 100%;
    height: 330px;
    position: relative;
    display: block;
    float: none;
}

.hcard-data-name {
    height: 40px;
    font-size: 1em;
    padding: 0;
    letter-spacing: 0.08em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hcard-data-description {
    height: 290px;
    overflow: scroll;
    font-size: .75em;
    color: #494848;
    padding:0 15px;
    text-align: justify;
    word-break: break-word;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.hcard-data-tags {
    height: 70px;
    position: relative;
    bottom: 0;
    background-color: #fff;
}

.hcard-data-tags label {
    text-align: center;
    background-color: #0050b1;
    display: inline-flex;
    align-items: center;
    color: #ffffff;
    border-radius: 99em;
    margin: 5px 15px 2px 0;
    font-weight: 600;
    font-size: .8rem;
    height: 20px;
    padding: 1px 12px;
}

