ul {
    padding-inline-start: 0;
    padding-inline-end: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

h3 {
    padding-inline-start: 0;
    padding-inline-end: 0;
    margin-block-start: 0;
    margin-block-end: 1vh;
}

ul li {
    list-style-type: none;
    position: relative;
    display: block;
    padding: .75rem 1rem;
    border: 1px solid rgba(0, 0, 0, .125);
}

.lists-container {
    text-align: left;
    height: 72vh;
    font-size: calc(6px + 1vmin);
    margin-inline-start: 0rem;
    margin-top: 2vh;
}

.listLeft-col {
    overflow: auto;
    width: 25vw;
    height: 100%;
    float: left;
    margin-right: 2vw;
}

.listMiddle-col {
    overflow: auto;
    height: 100%;
    width: 25vw;
    float: left;
    margin-right: 2vw;
}

.listMiddle-col::-webkit-scrollbar-thumb {
    background-color: rgb(61, 168, 218);
}

.listRight-col {
    overflow: auto;
    height: 100%;
    width: 43vw;
}

.listRight-col::-webkit-scrollbar-thumb {
    background-color: rgb(226, 168, 61);
}

.lists-container h3 {
    text-decoration: underline;
    position: sticky;
    top: 0;
    color: whitesmoke;
    background-color: rgb(61, 168, 218);
    padding: 2vw;
    border-radius: 0.25rem;
    z-index: 1;
    text-align: center;
}

.lists-container .listBeer-header {
    background-color: rgb(226, 168, 61);
    padding: 1.5vw;
    text-decoration: none;
}

ul #beer-list img {
    position: absolute;
    right: 0;
    height: 70%;
}

ul .lists-input-search {
    background-image: url('../res/searchIcon.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px;
    background-position-x: 98%;
    padding: 1vw;
    font-size: inherit;
    width: 91%;
    position: relative;
    display: block;
    border: 1px solid rgb(61, 168, 218);
    margin-bottom: 1vw;
}

/* .lists-container .listBeer-header button{
    position: absolute;
    right: 1%;
    top: 10%;
    color: inherit;
    background-color: inherit;
    border: inherit;
    font-size: large;
} */
