.App {
  text-align: center;
  height: 100vh;
  overflow: auto;
}

.App-nav {
  height: 8vh;
  font-size: calc(10px + 3vmin);
  background-color: #0050b1;
  color: white;
  padding-top: 1vw;
}

.App-main {
  margin: 0 1vw 0 1vw;
  padding-top: 3vw;
  /* height: 91vh; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(10px + 1.5vmin);
  /* background-color: rgb(200, 211, 47); */
}

::-webkit-scrollbar {
  -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
  width: 8px;
}

::-webkit-scrollbar:horizontal {
  height: 0;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid #ffffff;
  background-color: #0050b1;
}